
<div class="sub_title">
<h2>About Vacay2Me</h2>
</div>

<div class="wrapper">
	<div>
	If someone could pick up essential items you forgot to pack for your trip, how would that change your vacation? At Vacay2Me, we believe that vacations should be relaxing and hassle-free.  A little convience can go a long way. We work around the clock to bring you vacay essentials - right to your door. 
	</div>

	<h4>Our Mission</h4>

	<div>
	To provide our vacationers with every and anything they need to have the best vacation EVER. We pride ourselves on being there for you in your time of need. We believe in providing the best products and customer service to ensure you spend your time off relaxing on the beach instead of spending your day out running errands.
	</div>

	<h4>Our Promise</h4>

	<div>
	Great products, low prices, fast service. If you don't receive your order 30 minutes after ordering, your order is free. We take pride in our locally-sourced products and our commitment to providing you the best possible customer service around the clock.
	</div>

	<p>Click here to contact us, and click here to view our products.</p>

</div>


