<div class="row">
  <div class="col-sm-2 col-sm-offset-5 text-center">
    <form role="form">
      <div class="form-group">
        <label for="name">Your name:</label>
        <input class="form-control" id="name" type="name" value="<%=username%>">
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input class="form-control" id="email" type="email">
      </div>
      <div class="form-group">
        <label for="number">Phone number:</label>
        <input class="form-control" id="number" type="number">
      </div>
      <div class="form-group">
        <label for="location">Your vacation spot:</label>
        <input class="form-control" id="location" type="location">
      </div>
      <div class="form-group">
        <label for="wanted">Things needed:</label>
        <textarea class="form-control" id="wanted" type="wanted" rows=6></textarea>
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  </div>
</div>
