<div class="sub_title">

<h2>How Vacay2Me Works</h2></div>


<div class="wrapper col-sm-6 col-sm-offset-6">
Vacay2Me is a delivery service that brings modern convenience right to your doorstep! In Ocean City for the weekend? Forgot towels and beach chairs? No problem! Vacay2Me will deliver right to your door. Don't feel like making lunch? Vacay2Me has you covered. We'll transport you to and from the beach AND provide a picnic lunch. Make your vacations stress-free by using our easy-to-use delivery service!
</div>
