<div class="homebkg">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 home">
        <div class="title">
          <h1>wake to your<br>true dream<br>vacation</h1>
        </div>
        <div class="wrapper col-sm-6 col-sm-offset-6">
          <div>
            Avoid the stress that comes with planning and packing for a vacation and let us do the work for you. Sign-up today for our convenient vacation essentials delivery service and get one step closer to your dream vacation!
            <br>
            <br>
            <br>
            <div class="form-group">
              <form action='/login/attempt' class="form-inline" method='post'>
              <label for="username"></label>
              <input class="form-control" id="username" name="username" placeholder="" type="text">
              <input class="form-control" id="password" name="password" placeholder="" type="password">
              <button class="btn btn-default" name="button" type="submit">Login</button>
              <p class="help-block"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
