<div class="homebkg">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 home">
        <div class="title">
          <h1>wake to your<br>true dream<br>vacation</h1>
        </div>
        <div class="wrapper col-sm-6 col-sm-offset-6">
          <div>
            This will be our welcome message. Good stuff here.
            <br>
            <br>
            <br>
            <% if username == 'Stranger'%>
            <div class="form-group">
              <form action='/login/attempt' class="form-inline" method='post'>
              <label for="username"></label>
              <input class="form-control" id="username" name="username" placeholder="" type="text">
              <input class="form-control" id="password" name="password" placeholder="" type="password">
              <button class="btn btn-default" name="button" type="submit">Login</button>
              <% else %>
              <p>
                welcome
              </p>
            </form>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
