<div class="homebkg">
  	<div class="container">
	  	<div class="row">
		    <div class="col-sm-offset-3 col-sm-6 home">
		      <div class="title">
		      	<h1>wake to your<br>true dream<br>vacation</h1>
		      </div>
			      	<div class="wrapper col-sm-6 col-sm-offset-6">
						<div>
						This will be our welcome message. Good stuff here.
						<br>
						<br>
						<br>
						Login name and password go here
						</div>
					</div>
		    </div>
		</div>
  	</div>
</div>
