<<<<<<< HEAD
<link rel="stylesheet" type="text/css" href="/css/style.css">
    <div class="orderbox">
        <div class="meat">
        <h4>Meat</h4>
        <img src="http://placehold.it/150x150">
            <div class="counter">
                <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                <input class="qty1" value="0" />
                <button class="down1"> - </button>
                <button class="up1"> + </button>
            </div>
        </div>

        <div class="vegetables">
        <h4>Vegetables</h4>
        <img src="http://placehold.it/150x150">
            <div class="counter">
                <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                <input class="qty2" value="0" />
                <button class="down2"> - </button>
                <button class="up2"> + </button>
            </div>
        </div>

        <div class="fruit">
        <h4>Fruit</h4>
        <img src="http://placehold.it/150x150">
            <div class="counter">
                <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                <input class="qty3" value="0" />
                <button class="down3"> - </button>
                <button class="up3"> + </button>
            </div>
        </div>


    </div>
    <script type="text/javascript" src="/js/orders.js"></script>
=======
>>>>>>> footer
