<div class="orderbkg">
    <div class="container">
        <div class="row">
          <div class="sub_title col-sm-6 col-sm-offset-1">
        <h2>whatever you heart desires...</h2>
      </div>
      </div>
      <div class=row>
            <div class="orderwrapper col-sm-3">
                <h4>Meat</h4>
                <div class="meat">
                <img src="/imgs/meats1.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="meat">
                <img src="/imgs/meats2.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="meat">
                <img src="/imgs/meats3.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="meat">
                <img src="/imgs/meats4.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
            </div>
            <div class="orderwrapper col-sm-3 col-sm-offset-1">
                <h4>Vegetables</h4>
                <div class="vegetables">
                <img src="/imgs/veg1.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="vegetables">
                <img src="/imgs/veg2.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="vegetables">
                <img src="/imgs/veg3.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="vegetables">
                <img src="/imgs/veg4.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="vegetables">
                <img src="/imgs/veg5.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="vegetables">
                <img src="/imgs/veg6.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
            </div>
            <div class="orderwrapper col-sm-3 col-sm-offset-1">
                <h4>Fruit</h4>
                <div class="fruit">
                <img src="imgs/fruits1.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="fruit">
                <img src="imgs/fruits2.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="fruit">
                <img src="imgs/fruits3.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="fruit">
                <img src="imgs/fruits4.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="fruit">
                <img src="imgs/fruits5.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
                <br>
                <div class="fruit">
                <img src="imgs/fruits6.jpg">
                    <div class="counter">
                    <label for="qty"><abbr title="Quantity">Qty</abbr></label>
                    <input class="qty" value="0" />
                    <button class="down"> - </button>
                    <button class="up"> + </button>
                    </div>
                </div>
            </div>

          </div>

    </div>
</div>
<ul class="grid cs-style-3">
                <li>
                    <figure>
                        <img src="/imgs/instagram.png" alt="img01">
                        <figcaption>
                            <h3>Send us your vacay pics!</h3>
                            <span>Jacob Cummings</span>
                            <a href=" ">Enter NOW!</a>
                        </figcaption>
                </li>
            </ul>
<script src="/js/orders.js" charset="utf-8"></script>
