.homebkg {
    background-image: url(/imgs/homebkg.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 40vw;
		/*margin-top: 60px;*/
}
.home {
	margin-top: 60px;
}


h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	color: rgb(201,193,203);
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	color: rgb(201,193,203);
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
.wrapper {
    border-radius: 20px;
    padding: 35px;
    /*float: right;*/
    /*max-width: 50%;*/
    box-shadow: 4px 3px 15px 8px rgba(230,223,230,0.75);
}
.title {
	opacity: 0.8;
}

.sub_title {
	margin-top: 60px;
}
footer{
    clear: both;
    text-align: center;
}
<<<<<<< HEAD


/*------Order Counter Styling-------*/

/*body {
    font-family: helvetica, arial, verdana, sans-serif;
}*/

input {
	font-size: 2em;
	background-color: transparent;
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #fff;
}

label {
	display: block;
	font-size: .8em;
}

button {
	/* basics */
	color: #444;
	background-color: #B5B198;
	/* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;

}

button:hover, button:active, button:focus {
	background-color: #CBC7AE;
}

.orderbox {
	border: 2px solid black;
	margin: 100px 20px 2px 20px;
	position: fixed;
	width: 80%;
	height: 90%;
}

.meat .vegetables .fruit {
	border: 2px solid red;
	float: center;
	margin: 10px;

}

.counter {
	/* basics */
	background-color: #a1a1a1;
	color: #C4BE92;
    text-align: center;
    float: right;
    max-height: 150px;

	/* rounded corners */
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 6em;
	margin: 35px 0px;
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;

}

/*End of Counter Styling*/

.container {
	width: 100%;
}
