.homebkg {
    background-image: url(/imgs/home.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 50vw;
		/*margin-top: 60px;*/
}
.howbkg {
    background-image: url(/imgs/howbkg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 40vw;
		/*margin-top: 60px;*/
}
.orderbkg {
    background-image: url(/imgs/orderbkg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 50vw;
		/*margin-top: 60px;*/
}
.aboutbkg {
    background-image: url(/imgs/aboutbkg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 40vw;
		/*margin-top: 60px;*/
}
.contactbkg {
    background-image: url(/imgs/contactbkg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 40vw;
		/*margin-top: 60px;*/
}
.home {
	margin-top: 50px;
}
.container {
	width: 100%;
}
.copyright{
	color: #EFF3F8;
	font-size: 12px;
}
.wrapper {
    border-radius: 20px;
    padding: 35px;
    /*float: right;*/
    /*max-width: 50%;*/
    background-color: rgba(255,255,255,0.95);
    box-shadow: 4px 3px 15px 8px rgba(230,223,230,0.75);
}
.footbox {
	text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 35px;
    /*float: right;*/
    /*max-width: 50%;*/
    height: 200px;
    max-height: 250px;
    background-color: white;
    box-shadow: 0 -7px 4px 0 rgba(0,0,0,0.08);
}
.contact {
  margin-top: 60px;
}
.row  {
  margin-top: 60px;
}
.title {
/*	opacity: 0.8;*/
}

.sub_title {
	margin-top: 60px;
}
.container {
	width: 100%;
}
.orderwrapper {
/*	clear: both;*/
    border-radius: 10px;
    padding: 15px;
    /*float: right;*/
    /*max-width: 50%;*/
    background-color: white;
    box-shadow: 4px 3px 15px 8px rgba(230,223,230,0.75);
}

/* HEADERS */

h1 {
	font-family: 'Grand Hotel', cursive;
	font-size: 74px;
	color: rgb(255,255,255);
	line-height: 90%;
/*	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);*/
}
h2 {
	font-family: 'Grand Hotel', cursive;
	font-size: 65px;
	color: rgb(255,255,255);
	line-height: 90%;
/*	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);*/
}
footer{
    clear: both;
    text-align: center;
}


/*------Order Counter Styling-------*/

/*body {
    font-family: helvetica, arial, verdana, sans-serif;
}*/

input {
	font-size: 18px;
/*	background-color: transparent;*/
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: black;

}

label {
	display: block;
	font-size: 14px;
}

button {
	/* basics */
/*	color: #B4B4B4;*/
	background-color: #fff;
	/* rounded corners */
	border-radius: 6px;
	/*height: 20px;*/
}

button:hover, button:active, button:focus {
	background-color: #F5FFFF;
}

.orderbox {
	border: 2px solid black;
	margin: 100px 20px 2px 20px;
	position: fixed;
	width: 80%;
	height: 90%;
}

.meat .vegetables .fruit {
	border: 2px solid red;
	float: center;
	margin: 10px;

}

.counter {
	/* basics */

	background-color: #a1a1a1;
	color: #C4BE92;

    text-align: center;
    float: right;
    width: 80px;
    height: 80px;

	/* rounded corners */
	border-radius: 5px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
/*    padding: .8em .8em 1em;*/
/*	margin: 10px 0px;*/
  	-webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #E6F9FF;

}
.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}
@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
.cs-style-3 figure {
	overflow: hidden;
}
.cs-style-3 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}
.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
