.homebkg {
    background-image: url(/imgs/homebkg.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 40vw;
		/*margin-top: 60px;*/
}
.home {
	margin-top: 60px;
}


h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	color: rgb(201,193,203);
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 36px;
	color: rgb(201,193,203);
	text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
.wrapper {
    border-radius: 20px;
    padding: 35px;
    /*float: right;*/
    max-width: 50%;
    box-shadow: 4px 3px 15px 8px rgba(230,223,230,0.75);
}
.title {
	opacity: 0.8;
}
footer{
    clear: both;
    text-align: center;
}
