.homebkg {
    background-image: url(/imgs/homebkg.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 40vw;
		/*margin-top: 60px;*/
}
.home {
	margin-top: 60px;
}
.navbar {
	position: fixed;

}
.nav{
		background-color: white;
}
